<html>

<head>
       {{>headerlinks}}
</head>

<body>

     {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                      <div class="row">
                           <!--right side div-->
                           <div class="col-md-6 col-12 main_header_right align-items-center">
                            <figure>
                                <img src="/images/error.png" alt="Aman" class="img-fluid" title="weather"> 
                            </figure>
                          </div>
                          <!--left side div-->
                          <div class="col-md-6 col-12 main_header_left ">
                                      <p> <h1>Error 404</h1></p>
                                      <h1>   <span class="text_clr"> Page not found</span>  </h1>
                                      <a href="/"> <button>Go to Home</button></a>
                          </div>
                           
                      </div>

            </div>
        </div>
    </div>

    <!--footer code-->
    {{>footer}}

</body>

</html>